body {
    display: flex;
    flex-direction: column;   
}

.header, .footer, .main, .info, .testimonials, .signup {
  padding-left: 130px;
  padding-right: 130px;   
}

.header, .footer {
    background-color: #1F2937;    
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-top: 10px;
  padding-bottom: 10px;    
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FaF8;
  flex: 1;      
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap:22px;  
}

a {
  text-decoration: none;
}

a, .content .subtext {
    color: #E5E7Eb;
    font-size: 16px;        
}

.main {
  display: flex;
  background-color: #1F2937;
  padding-top: 80px; 
  padding-bottom: 80px;     
}

.main .image {    
  flex:1;
  display: flex;
  justify-content: flex-end;  
}
.image img {
  height: 200px;  
}

.content {
  flex:1;
  display: flex;
  flex-direction: column;  
}

.content .title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FaF8;
}
.content button {  
  background-color: #3882f6;
  border-radius: 10px;
  max-width: 30%;
  color: #E5E7Eb;
  padding: 8px;
  font-weight: bolder;
  margin-top: 4px;
}


