body {
    display: flex;
    flex-direction: column;   
}

.header, .footer, .main, .info, .testimonials {
  padding-left: 130px;
  padding-right: 130px;   
}

.header, .footer {
    background-color: #1F2937;    
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-top: 10px;
  padding-bottom: 10px;    
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FaF8;
  flex: 1;      
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap:22px;  
}

a {
  text-decoration: none;
}

a, .content .subtext {
    color: #E5E7Eb;
    font-size: 16px;        
}

.main {
  display: flex;
  background-color: #1F2937;
  padding-top: 80px; 
  padding-bottom: 80px;     
}

.main .image {    
  flex:1;
  display: flex;
  justify-content: flex-end;  
}
.image img {
  height: 200px;  
}

.content {
  flex:1;
  display: flex;
  flex-direction: column;  
}

.content .title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FaF8;
}
.content button {  
  background-color: #3882f6;
  border-radius: 10px;
  border-color: #1F2937;
  max-width: 30%;
  color: #E5E7Eb;
  padding: 8px;
  font-weight: bolder;
  margin-top: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;    
}

.info .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  
  margin-bottom: 30px;
  align-self: center;
}
.images {
  display: flex;
  justify-content: space-between;  
}
.container {
  max-width: 200px;
}
.container img {
  max-width: 200px;  
} 

.testimonials {
  background-color: #E5E7Eb; 
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;   
  
}
.testimonials p {
  font-size: 36px;
  font-style:italic;
  font-weight: lighter;
  max-width: 80%;
  align-self: center;
  
}
.testimonials .source {
  font-size: 24px;
  font-weight: bolder;
  align-self: flex-end;
  padding-right: 60px;    
}

.signup {
  background-color: #3882f6;
  margin-right: 130px;
  margin-left: 130px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  
}

